@charset "UTF-8";

body {
  background-color: rgb(175, 228, 170);  
  font-size: 10px;
}

h1#principal {
text-align: center;
background-color: rgb(7, 105, 23);
color: rgb(172, 180, 180);

}

h1 {
    color: rgb(22, 85, 20);
}

.basico {
    color:rgb(7, 105, 23)
}

.intermediario {
    color:rgb(103, 112, 17);
    font-weight: bold;
}

.avancado {
    color:rgb(105, 7, 7)
}

p {
    text-indent: 30px;
}