@charset "UTF-8";

body {
  background-color: rgb(175, 228, 170);  
}

h1#principal {
text-align: center;
background-color: rgb(7, 105, 23);
color: rgb(172, 180, 180);

}

h1 {
    color: rgb(22, 85, 20);
}

h2 {
    color:rgb(18, 131, 37)
}

p {
    text-indent: 30px;
}